@font-face {
  font-family: 'Inter';
  src: url('inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #1E1E1E;
    color: #D4D4D4;
}

.editor-preview {
    display: flex;
    height: calc(100% - 3em);
}

textarea,
.preview {
    box-sizing: border-box;
    width: 50%;
    padding: 1em;
    border: none;
    height: 100%;
    outline: none;
    resize: none;
    background-color: #1E1E1E;
    color: #D4D4D4;
    padding-bottom: 4em;
    overflow: auto;
    overflow-anchor: none;
}

.markdown-body {
    min-width: 200px;
    color: #D4D4D4;
}

.gutter {
    background-color: #505050;
    background-repeat: no-repeat;
    background-position: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 1em 1em;
    height: 3em; 
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: 'Inter', sans-serif;
}

/* Style for the font size selector */
select {
    padding: 0.5em;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1E1E1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8a8888;
}

/*code scrollbar */
pre::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

button {
    padding: 0.5em 1em;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #4A4F55;
    color: #D4D4D4;
    font-family: 'Inter', sans-serif;
}

button:hover {
    opacity: 0.8;
}

.menu a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #0056b3;
}

select {
    padding: 0.5em;
    border: 1px solid #4A4F55;
    border-radius: 5px;
    background-color: #4A4F55;
    color: #D4D4D4;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

select:hover {
    opacity: 0.8;
}


.markdown-body pre,
.markdown-body code {
    background-color: #1E1E1E;
    color: #D4D4D4;
}


.markdown-body p code {
    background-color: #373737;
    padding: .2em .4em;
    border-radius: 3px;
}


.markdown-body pre {
    border: 1px solid #373737;
    padding: 1em;
}

.markdown-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

.markdown-body th,
.markdown-body td {
    padding: 0.5em;
    border: 1px solid #4A4F55;
}

.markdown-body th {
    background-color: #373737;
    color: #D4D4D4;
}

.markdown-body tr:nth-child(even) {
    background-color: #2E2E2E;
}

.markdown-body tbody tr:first-child th,
.markdown-body tbody tr:nth-child(n+2),
.markdown-body tbody tr:first-child td {
    background-color: #373737;
}

/* New CSS to add a custom checkmark */
.checklist-item input[type="checkbox"] {
    /* Remove default appearance */
    background-color: #4A4F55;
    /* White background */
    margin-right: 0.5em;
    /* Box dimensions */
    width: 1em;
    height: 1em;
}

/* Add a custom checkmark for checked items */
.checklist-item input[type="checkbox"]:checked {
    background-color: green;
    /* Green background when checked */
}

/* Optional: Add a fancy checkmark using a Unicode character */
.checklist-item input[type="checkbox"]:checked:after {
    color: #4A4F55;
    /* White checkmark */
    position: absolute;
    left: 4px;
    top: -2px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3{
  border-bottom: 1px solid #787878;
}


.markdown-body blockquote {
    border-left: 4px solid gray;
}

/* Dropdown styles*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4A4F55;
  color: #D4D4D4;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1E1E1E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #D4D4D4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #505050;
  color: #D4D4D4;
} 

#wordCountDisplay {
  background: #4A4F55; 
  color: #D4D4D4; 
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 100;
  display: none;
}

.light-mode #wordCountDisplay {
  background: #E6E6E6;
  color: #333; 
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 100;
  display: none;
}


/* Light mode styles for dropdown */
.light-mode .dropbtn {
  background-color: #E6E6E6;
  color: #333;
}

.light-mode .dropdown-content {
  background-color: #FFFFFF;
}

.light-mode .dropdown-content a {
  color: #333; 
}

.light-mode .dropdown-content a:hover {
  background-color: #E0E0E0;
}

.dropdown:hover .dropbtn {
  opacity: 0.8; 
}

.light-mode .markdown-body h1,
.light-mode .markdown-body h2,
.light-mode .markdown-body h3 {
  border-bottom: 1px solid #D4D4D4; /* Change the hex color code to your desired color */
}


.light-mode .markdown-body blockquote {
    border-left-color: #D4D4D4;
}

.light-mode {
    background-color: #FFFFFF; /* Light mode bg */
    color: #333333; /* Light mode text color */
}
.light-mode .preview,
.light-mode .markdown-body pre,
.light-mode .markdown-body code {
    background-color: #FFFFFF; /* Light mode bg */
    color: #333333; /* Light mode text color */
}

.light-mode .gutter{
    background-color: #B0B0B0;
}

.light-mode .markdown-body p code {
    background-color: #E0E0E0; /* Light mode inline code bg */
}
.light-mode .markdown-body pre {
    border: 1px solid #E0E0E0; /* Light mode block code border */
}
.light-mode ::-webkit-scrollbar-thumb {
    background: #8a8888; /* Light mode scrollbar handle */
}

.light-mode ::-webkit-scrollbar-track {
    background: white;
}

.light-mode button,
.light-mode select {
    background-color: #E6E6E6; /* Light mode button bg */
    color: #333; /* Light mode button text */
    border: none;
}
/* Toggle Button for light/dark mode */
.toggle-mode {
    padding: 0.5em 1em;
    top: 1em;
    right: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #4A4F55; /* Dark mode bg */
    color: #D4D4D4; /* Dark mode text */
    z-index: 1000; /* Make sure the button is above all other content */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for mode change */
}
.light-mode .toggle-mode {
    background-color: #E6E6E6; /* Light mode button bg */
    color: #333; /* Light mode button text */
}
.toggle-mode:hover {
    opacity: 0.8;
}

.light-mode .markdown-body table th,
.light-mode .markdown-body table tr:nth-child(even) {
    background-color: #F2F2F2; /* Light mode shaded bg */
    color:black;
}

.light-mode .markdown-body table td,
.light-mode .markdown-body table th {
    border: 1px solid #CCC; /* Light mode table border */
}

.light-mode .markdown-body table tr:nth-child(odd) {
    background-color: #FFFFFF; /* Light mode table row for contrast */
}

.light-mode .markdown-body tbody tr:first-child th,
.light-mode .markdown-body tbody tr:nth-child(n+2),
.light-mode .markdown-body tbody tr:first-child td {
    background-color: #EEE; /* Light mode table header and first column */
}

/* Add a media query for small screens */
@media only screen and (max-width: 600px) {
    button {
        padding: 0.3em 0.5em; 
        font-size: 0.7rem; 
    }
  .toggle-mode {
      padding: 0.3em 0.5em; 
      font-size: 0.7rem; 
  }
  .dropbtn{
    padding: 0.3em 0.5em; 
    font-size: 0.7rem; 
  }
}


